@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Lora:ital@1&family=Passions+Conflict&display=swap');
*{
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    font-family: 'Lora', serif;
    margin-bottom: 2.455rem;
}
#autoTextTres{
    font-size: 1.9rem;
    font-weight: bold;
}
body{
    background-color:rgb(122, 191, 248) 
}
.err{
    display: none;
}
.titleContacto .extra{
    font-size: 1rem;
}
#contenedor{
    background-color:rgb(122, 191, 248)
}
.sub{
    text-decoration: underline;
}
h2{
    text-decoration: underline;
}
#header{
    margin-bottom: 0rem;
    background-image: url("./assets/sky.png");
    background-size: cover; 
    max-height: 8.75rem;
    display:grid;
	grid-template-columns: 4fr 7.5fr;
	grid-template-rows: 5fr 5fr;
	grid-gap: 0.045rem;
    grid-template-areas:
    "logo name";
    border-bottom: solid rgb(0, 0, 0) 0.089rem;
}
.logo{
    margin-top: -0.6rem;
    grid-area: logo;
    width: 6rem;
    height: 6rem;
    opacity: 90%;
}
#name{
    opacity: 100%;
    display: flex;
    grid-area: name;
    font-size: 3.182rem;
    color:rgb(0, 0, 0);
    flex-direction: row;
    margin-top: 1.136rem;
}
#name h1{
    font-size: 3.545rem;
    margin-top: 1.136rem;
    font-family: 'Passions Conflict', cursive;
    text-decoration: underline;
    font-weight: 1;
}
.titulito{
    justify-content: center;
}
.alas{
    height: 3.636rem;
    margin-left: 0.318rem;
    margin-right: 0.136rem;
}
.titleContacto{
    text-decoration: underline;
    margin-top: 0rem;
}
.titleContacto p{
    font-size: 2.009rem;
    text-align: center;
}
.descripcion{
    background-color: rgba(4,77,173,255);
    height: 16rem;
}
.descripcion p{
    font-size: 2.409rem;
    text-decoration: underline;
    font-family: 'Hurricane', cursive;
}
.descripcion div{
    background-color: rgba(4,77,173,255);
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: 2.409rem;
    text-decoration: underline;
    font-family: 'Hurricane', cursive;
}
.grillaContacto{
    width: 31.696rem;
    max-height: 11.223rem;
    background-color: rgba(4,77,173,255);
    display: grid;
    border:solid rgb(0, 0, 0) 0.089rem;
    grid-template-columns: 2fr 1fr;    
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "email emailDato"
    "telefono telefonoDato"
    "celular celularDato";
    align-items: center;
}
.email{
    grid-area: email;
}
.emailDato{
    grid-area: emailDato;
}
.emailDato a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.borderBottom{
    border-bottom: solid rgb(129, 19, 96) 0.223rem;
}
.hover:hover{
    color: lightskyblue
}
.telefono{
    grid-area: telefono;
}
.telefonoDato{
    grid-area: telefonoDato;
}
.telefonoDato a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.celular{
    grid-area: celular;
}
.celularDato{
    grid-area: celularDato;
}
.celularDato a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.botonDeWppSticky{
    background-color: transparent;
    position: fixed;
    bottom: -2.232rem;
    right: 0.893rem;
    width: 4.464rem;
    transition: .1s;
}
.botonDeWppSticky{
    width: 170px;
}
.viewSi{
    z-index: 10;
}
.viewSi:hover{
    z-index: 0;
}
.viewNo{
    z-index: 5;
}
.viewNo:hover{
    z-index: 20;
}
.center{
    text-align: center;
    max-height: 85.714rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: grid;
}
h2{
    text-align: center;
    font-weight: 0;
}
#footer{
    min-height: 1.818rem;
    background-color: gray;
    margin-bottom: -4.955rem;
    margin-top : -2.5rem;
    font-size: 0.682rem;
}
.blanco{
    color: white;
}
.negro{
    color: black;
}
@media (min-width: 992px) and (max-width: 1312px){
    #header{
        grid-template-columns: 2.5fr 7fr;
    }
    .descripcion{
        height: 17rem;
    }
}
@media (min-width: 688px) and (max-width: 992px){
    #header{
        grid-template-columns: 2fr 7fr;
    }
    #autoText{
        font-size: 1rem;
    }
    #autoTextTres{
        font-size: 1.5rem;
    }

    .botonDeWppSticky{
        bottom: -1rem;
        width: 7.5rem;
    }
}
@media (min-width: 488px) and (max-width: 688px){
    *{
        font-size: 1rem;
    }
    .logo{
        height: 4rem;
        width: 4rem;
    }
    #name h1{
        font-size: 4rem;
    }
    h2{
        font-size: 1.75rem;
    }
    #header{
        grid-template-columns: 1.3fr 7fr;
    }
    .grillaContacto{
        width: 30rem;
    }
    .align{
        text-align: left;
    }
    .botonDeWppSticky{
        bottom: -1rem;
        width: 7.5rem;
        left: 0.1rem;
    }
}
@media (min-width: 320px) and (max-width: 488px){
    *{
        font-size: 1rem;
    }
    #header{
        grid-template-columns: 1.05fr 12fr;
    }
    #name h1{
        font-size: 3rem;
    }
    .alas{
        height: 3rem;
    }
    .logo{
        display:none;
        height: 0px;
    }
    .descripcion{
        height: 23rem;
    }
    #autoTextTres{
        font-size: 1.2rem;
    }
    .grillaContacto{
        width: 20rem;
    }
    .botonDeWppSticky{
        bottom: -1rem;
        width: 5.5rem;
    }
}